In [59]:
import pandas as pd
import numpy as np

In [60]:
df = pd.read_csv("D:\LPU Assignment MBA (1)\MBA Tech\MBA Tokens.csv")

In [61]:
df.head()

,candidate_id,candidate_name,Phone,Email,agent,token_date,token_paid,token_status,lead_source,remarks,...,start_of_the_week,cohort,ad_id,ad_set_id,city,state,manager,test_submitted_date,first_call_date,application_date
0,NaN,Alok Singh Rathore,8197875911,aloksinghrathore@gmail.com,Zoya Zamal,12-12-2024,1,Active,Facebook,NaN,...,09-12-2024,Cohort 2,1.202141e+17,1.202141e+17,NaN,Telangana,Akshit,23-12-2024 23:08,07-12-2024 12:50,23-12-2024 18:58
1,DELX-379891,Amit Munjal,9811117110,amitmunjal@gmail.com,Sangeeta Haldar,02-10-2024,1,Active,Facebook,NaN,...,30-09-2024,Cohort 2,1.202123e+17,1.202123e+17,faridabad,Haryana,Akshit,07-12-2024 22:45,21-12-2024 17:34,01-12-2024 11:11
2,DELX-237805,Kanika Gussain,9711911111,kanikagussain@gmail.com,Farakhuddin Khan,07-06-2024,1,Drop,Linkedin,NaN,...,03-06-2024,Cohort 2,NaN,NaN,NaN,NaN,Akshit,NaN,NaN,NaN
3,DELX-230782,Shubham Bisht,7610111198,shubhambisht@gmail.com,Harshita,13-06-2024,1,Active,LinkedIn,NaN,...,10-06-2024,Cohort 2,NaN,NaN,NaN,NaN,Akshit,NaN,05-11-2024 17:41,NaN
4,NaN,Gauri Shankar Soni,8101011610,gaurishankarsoni@gmail.com,Zoya Zamal,16-01-2025,1,Active,LinkedIn,NaN,...,13-01-2025,Cohort 2,1.202141e+17,1.202141e+17,NaN,NaN,Akshit,NaN,28-11-2024 13:34,NaN

In [62]:
print("Initial Shape:", df.shape)
print("\nMissing values per column:\n", df.isnull().sum())

Initial Shape: (85, 30)

Missing values per column:
 candidate_id             52
candidate_name            0
Phone                     0
Email                     0
agent                     0
token_date                0
token_paid                0
token_status              0
lead_source               0
remarks                  85
lead_created_date         3
full_payment_date        27
Enrolled                 27
offer_letter_released     0
loan_one_shot            26
utr                      27
interview                85
offer_released_date      85
loan_oneshot             85
loan_docs                85
start_of_the_week         0
cohort                    0
ad_id                    32
ad_set_id                48
city                     28
state                    11
manager                   0
test_submitted_date      10
first_call_date           7
application_date         11
dtype: int64

In [64]:



original_columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

print("Original Columns:\n")
for col in original_columns:
    print(col)

Original Columns:

candidate_id
candidate_name
phone
email
agent
token_date
token_paid
token_status
lead_source
remarks
lead_created_date
full_payment_date
enrolled
offer_letter_released
loan_one_shot
utr
interview
offer_released_date
loan_oneshot
loan_docs
start_of_the_week
cohort
ad_id
ad_set_id
city
state
manager
test_submitted_date
first_call_date
application_date

In [65]:
df.drop_duplicates(inplace=True)

In [66]:
threshold = 0.5 * len(df)
df = df.dropna(thresh=threshold, axis=1)

In [67]:
categorical_cols = df.select_dtypes(include='object').columns
df[categorical_cols] = df[categorical_cols].fillna("Unknown")

In [68]:
numeric_cols = df.select_dtypes(include=[np.number]).columns
df[numeric_cols] = df[numeric_cols].fillna(0)

In [69]:

date_cols = [
    'token_date', 'lead_created_date', 'full_payment_date', 'offer_released_date',
    'start_of_the_week', 'test_submitted_date', 'first_call_date', 'application_date'
]

for col in date_cols:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=True)

In [70]:
print("\nData Types:\n", df.dtypes)

Data Types:
 candidate_name                   object
Phone                             int64
Email                            object
agent                            object
token_date               datetime64[ns]
token_paid                        int64
token_status                     object
lead_source                      object
lead_created_date        datetime64[ns]
full_payment_date        datetime64[ns]
Enrolled                         object
offer_letter_released             int64
loan_one_shot                    object
utr                             float64
start_of_the_week        datetime64[ns]
cohort                           object
ad_id                           float64
city                             object
state                            object
manager                          object
test_submitted_date      datetime64[ns]
first_call_date          datetime64[ns]
application_date         datetime64[ns]
dtype: object

In [71]:
print("\nFinal Shape:", df.shape)
print(df.head())

Final Shape: (85, 23)
       candidate_name       Phone                       Email  \
0  Alok Singh Rathore  8197875911  aloksinghrathore@gmail.com
1         Amit Munjal  9811117110        amitmunjal@gmail.com
2      Kanika Gussain  9711911111     kanikagussain@gmail.com
3       Shubham Bisht  7610111198      shubhambisht@gmail.com
4  Gauri Shankar Soni  8101011610  gaurishankarsoni@gmail.com

              agent token_date  token_paid token_status lead_source  \
0        Zoya Zamal 2024-12-12           1      Active     Facebook
1   Sangeeta Haldar 2024-10-02           1      Active     Facebook
2  Farakhuddin Khan 2024-06-07           1         Drop    Linkedin
3          Harshita 2024-06-13           1      Active     LinkedIn
4        Zoya Zamal 2025-01-16           1      Active     LinkedIn

    lead_created_date full_payment_date  ...  utr  start_of_the_week  \
0 2024-12-06 23:28:00        2024-12-28  ...  0.0         2024-12-09
1 2024-09-20 00:22:00        2025-01-11  ...  0.0         2024-09-30
2                 NaT               NaT  ...  0.0         2024-06-03
3 2024-05-27 21:00:00        2024-11-11  ...  0.0         2024-06-10
4 2024-11-28 13:12:00               NaT  ...  0.0         2025-01-13

     cohort         ad_id       city      state  manager test_submitted_date  \
0  Cohort 2  1.202141e+17    Unknown  Telangana   Akshit 2024-12-23 23:08:00
1  Cohort 2  1.202123e+17  faridabad    Haryana   Akshit 2024-12-07 22:45:00
2  Cohort 2  0.000000e+00    Unknown    Unknown   Akshit                 NaT
3  Cohort 2  0.000000e+00    Unknown    Unknown   Akshit                 NaT
4  Cohort 2  1.202141e+17    Unknown    Unknown   Akshit                 NaT

      first_call_date    application_date
0 2024-12-07 12:50:00 2024-12-23 18:58:00
1 2024-12-21 17:34:00 2024-12-01 11:11:00
2                 NaT                 NaT
3 2024-11-05 17:41:00                 NaT
4 2024-11-28 13:34:00                 NaT

[5 rows x 23 columns]

In [80]:
df.head()

,candidate_name,Phone,Email,agent,token_date,token_paid,token_status,lead_source,lead_created_date,full_payment_date,...,utr,start_of_the_week,cohort,ad_id,city,state,manager,test_submitted_date,first_call_date,application_date
0,Alok Singh Rathore,8197875911,aloksinghrathore@gmail.com,Zoya Zamal,2024-12-12,1,Active,Facebook,2024-12-06 23:28:00,2024-12-28,...,0.0,2024-12-09,Cohort 2,1.202141e+17,Unknown,Telangana,Akshit,2024-12-23 23:08:00,2024-12-07 12:50:00,2024-12-23 18:58:00
1,Amit Munjal,9811117110,amitmunjal@gmail.com,Sangeeta Haldar,2024-10-02,1,Active,Facebook,2024-09-20 00:22:00,2025-01-11,...,0.0,2024-09-30,Cohort 2,1.202123e+17,faridabad,Haryana,Akshit,2024-12-07 22:45:00,2024-12-21 17:34:00,2024-12-01 11:11:00
2,Kanika Gussain,9711911111,kanikagussain@gmail.com,Farakhuddin Khan,2024-06-07,1,Drop,Linkedin,NaT,NaT,...,0.0,2024-06-03,Cohort 2,0.000000e+00,Unknown,Unknown,Akshit,NaT,NaT,NaT
3,Shubham Bisht,7610111198,shubhambisht@gmail.com,Harshita,2024-06-13,1,Active,LinkedIn,2024-05-27 21:00:00,2024-11-11,...,0.0,2024-06-10,Cohort 2,0.000000e+00,Unknown,Unknown,Akshit,NaT,2024-11-05 17:41:00,NaT
4,Gauri Shankar Soni,8101011610,gaurishankarsoni@gmail.com,Zoya Zamal,2025-01-16,1,Active,LinkedIn,2024-11-28 13:12:00,NaT,...,0.0,2025-01-13,Cohort 2,1.202141e+17,Unknown,Unknown,Akshit,NaT,2024-11-28 13:34:00,NaT

In [82]:



original_columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
print("Columns after droping:\n")
for col in original_columns:
    print(col)

Columns after droping:

candidate_name
phone
email
agent
token_date
token_paid
token_status
lead_source
lead_created_date
full_payment_date
enrolled
offer_letter_released
loan_one_shot
utr
start_of_the_week
cohort
ad_id
city
state
manager
test_submitted_date
first_call_date
application_date

In [76]:
df.isnull().sum()

candidate_name            0
Phone                     0
Email                     0
agent                     0
token_date                0
token_paid                0
token_status              0
lead_source               0
lead_created_date         3
full_payment_date        27
Enrolled                  0
offer_letter_released     0
loan_one_shot             0
utr                       0
start_of_the_week         0
cohort                    0
ad_id                     0
city                      0
state                     0
manager                   0
test_submitted_date      10
first_call_date           7
application_date         11
dtype: int64

In [87]:
print(df['Enrolled'].unique())

['Enroled' 'Unknown']

In [86]:

total_token_paid = df[df['token_paid'] == 1].shape[0]


enrolled_count = df[(df['token_paid'] == 1) & (df['Enrolled'] == 'Enroled')].shape[0]


conversion_rate = (enrolled_count / total_token_paid) * 100

print(f"🎯 Total Token Paid: {total_token_paid}")
print(f"✅ Enrolled After Token: {enrolled_count}")
print(f"📊 Conversion Rate: {conversion_rate:.2f}%")

🎯 Total Token Paid: 85
✅ Enrolled After Token: 58
📊 Conversion Rate: 68.24%

In [ ]:

agent_enrollments = df[df['Enrolled'] == 'Enroled'].groupby('agent').size().sort_values(ascending=False)

agent_df = agent_enrollments.reset_index()
agent_df.columns = ['Agent Name', 'No. of Candidates Enrolled']

# Display
print(agent_df)

            Agent Name  No. of Candidates Enrolled
0      Sangeeta Haldar                           8
1        Monalisa  Das                           7
2                Vinti                           7
3        Akshay Manhas                           6
4          Simran Rana                           6
5       Monika Panchal                           5
6           Zoya Zamal                           5
7   Rupanshi Shekhawat                           4
8             Harshita                           3
9          Payal Gupta                           3
10    Farakhuddin Khan                           1
11         Rishi Joshi                           1
12       Sakshi Tiwari                           1
13     Vaishali Phalke                           1

In [93]:



city_enrollments = df[df['Enrolled'] == 'Enroled'].groupby('city').size().sort_values(ascending=False)

city_df = city_enrollments.reset_index()
city_df.columns = ['City', 'No. of Candidates Enrolled']


print(city_df)

                 City  No. of Candidates Enrolled
0             Unknown                          17
1           Bangalore                           4
2             Chennai                           4
3             Gurgaon                           3
4           Hyderabad                           2
5              Indore                           2
6               Noida                           2
7           Bengaluru                           2
8              Mumbai                           2
9           New Delhi                           2
10              Thane                           1
11    Tiruchirappalli                           1
12              Surat                           1
13           Renukoot                           1
14             Mysore                           1
15  Pune, Maharashtra                           1
16               Pune                           1
17         Kapurthala                           1
18        Muzaffarpur                           1
19             Kanpur                           1
20             Jaipur                           1
21            Gwalior                           1
22         Dharmapuri                           1
23              Delhi                           1
24         Birmingham                           1
25        Bhubaneswar                           1
26             Bhopal                           1
27          faridabad                           1

In [ ]:

state_enrollments = df[df['Enrolled'] == 'Enroled'].groupby('state').size().sort_values(ascending=False)


state_df = state_enrollments.reset_index()
state_df.columns = ['State', 'No. of Candidates Enrolled']

print(state_df)

             State  No. of Candidates Enrolled
0      Maharashtra                           8
1        Karnataka                           7
2       Tamil Nadu                           7
3          Unknown                           6
4          Haryana                           6
5    Uttar Pradesh                           5
6   Madhya Pradesh                           4
7        Rajasthan                           4
8            Delhi                           2
9        Telangana                           2
10           Assam                           1
11          Orissa                           1
12           Bihar                           1
13         Gujarat                           1
14         England                           1
15          Dubayy                           1
16     Uttaranchal                           1

In [ ]:

total_leads = df.groupby('agent').size()

In [ ]:

enrolled_leads = df[df['Enrolled'] == 'Enroled'].groupby('agent').size()

In [ ]:

agent_conversion = pd.DataFrame({
    'Total Leads': total_leads,
    'Enrolled Leads': enrolled_leads
})

agent_conversion['Enrolled Leads'] = agent_conversion['Enrolled Leads'].fillna(0)

agent_conversion['Conversion Rate (%)'] = (agent_conversion['Enrolled Leads'] / agent_conversion['Total Leads']) * 100

agent_conversion = agent_conversion.sort_values(by='Conversion Rate (%)', ascending=False)

print(agent_conversion.reset_index())

                 agent  Total Leads  Enrolled Leads  Conversion Rate (%)
0             Harshita            3             3.0           100.000000
1        Sakshi Tiwari            1             1.0           100.000000
2      Vaishali Phalke            1             1.0           100.000000
3          Simran Rana            7             6.0            85.714286
4       Monika Panchal            6             5.0            83.333333
5   Rupanshi Shekhawat            5             4.0            80.000000
6      Sangeeta Haldar           11             8.0            72.727273
7                Vinti           10             7.0            70.000000
8        Akshay Manhas            9             6.0            66.666667
9           Zoya Zamal            8             5.0            62.500000
10         Payal Gupta            5             3.0            60.000000
11       Monalisa  Das           12             7.0            58.333333
12    Farakhuddin Khan            3             1.0            33.333333
13         Rishi Joshi            3             1.0            33.333333
14        Kumar  Rohit            1             0.0             0.000000

In [ ]:

enrolled_df = df[df['Enrolled'] == 'Enroled'].copy()

enrolled_df['Month'] = enrolled_df['full_payment_date'].dt.to_period('M')

In [106]:

enrolled_df['Month'] = enrolled_df['full_payment_date'].dt.to_period('M')

monthly_trend = enrolled_df.groupby('Month').size().reset_index(name='Enrollments')

monthly_trend['Month'] = monthly_trend['Month'].astype(str)

print(monthly_trend)

     Month  Enrollments
0  2024-10            4
1  2024-11           14
2  2024-12           22
3  2025-01           18

In [ ]:

token_stage = df[df['token_paid'] == 1].shape[0]

test_stage = df[(df['token_paid'] == 1) & (df['test_submitted_date'].notna())].shape[0]

application_stage = df[(df['token_paid'] == 1) & (df['application_date'].notna())].shape[0]

enrolled_stage = df[(df['token_paid'] == 1) & (df['Enrolled'] == 'Enroled')].shape[0]

funnel_data = {
    "Token Paid": token_stage,
    "Test Submitted": test_stage,
    "Application Submitted": application_stage,
    "Enrolled": enrolled_stage
}


for stage, count in funnel_data.items():
    print(f"{stage}: {count}")

Token Paid: 85
Test Submitted: 75
Application Submitted: 74
Enrolled: 58

In [ ]:

token_stage = df[df['token_paid'] == 1].shape[0]
test_stage = df[(df['token_paid'] == 1) & (df['test_submitted_date'].notna())].shape[0]
application_stage = df[(df['token_paid'] == 1) & (df['application_date'].notna())].shape[0]
enrolled_stage = df[(df['token_paid'] == 1) & (df['Enrolled'] == 'Enroled')].shape[0]


conv_test = (test_stage / token_stage) * 100 if token_stage else 0
conv_app = (application_stage / test_stage) * 100 if test_stage else 0
conv_enroll = (enrolled_stage / application_stage) * 100 if application_stage else 0
conv_total = (enrolled_stage / token_stage) * 100 if token_stage else 0

print(f"🔁 Token → Test: {conv_test:.2f}%")
print(f"📝 Test → Application: {conv_app:.2f}%")
print(f"📥 Application → Enrolled: {conv_enroll:.2f}%")
print(f"🎓 Overall (Token → Enrolled): {conv_total:.2f}%")

🔁 Token → Test: 88.24%
📝 Test → Application: 98.67%
📥 Application → Enrolled: 78.38%
🎓 Overall (Token → Enrolled): 68.24%

In [ ]:

df['Enrolled'] = df['Enrolled'].str.strip().str.lower()

no_test = df[(df['token_paid'] == 1) & (df['test_submitted_date'].isna())]

no_application = df[
    (df['token_paid'] == 1) &
    (df['test_submitted_date'].notna()) &
    (df['application_date'].isna())
]

not_enrolled = df[
    (df['token_paid'] == 1) &
    (df['application_date'].notna()) &
    (df['Enrolled'] != 'enroled')
]

In [110]:
print("🔁 Token Paid but No Test Submitted:")
print(no_test[['candidate_name', 'Phone', 'agent', 'token_date']])

print("\n📝 Test Submitted but No Application:")
print(no_application[['candidate_name', 'Phone', 'agent', 'test_submitted_date']])

print("\n📥 Application Submitted but Not Enrolled:")
print(not_enrolled[['candidate_name', 'Phone', 'agent', 'application_date']])

🔁 Token Paid but No Test Submitted:
        candidate_name       Phone               agent token_date
2       Kanika Gussain  9711911111    Farakhuddin Khan 2024-06-07
3        Shubham Bisht  7610111198            Harshita 2024-06-13
4   Gauri Shankar Soni  8101011610          Zoya Zamal 2025-01-16
5        Saurabh Saini  8080517119       Akshay Manhas 2024-05-05
6      Snehashis Ghosh  8119006657            Harshita 2024-07-21
7      Prashant Sharma  7099789601     Sangeeta Haldar 2024-07-03
8      Pratyush Pandit  7155155895      Monika Panchal 2024-03-26
19       Pradeep Singh  8506881771  Rupanshi Shekhawat 2024-09-23
26          Yash Gupta  8076051879        Kumar  Rohit 2024-05-12
50         Sahil Saini  7818587158      Monika Panchal 2024-11-04

📝 Test Submitted but No Application:
        candidate_name       Phone            agent test_submitted_date
9      Saurabh Sarasar  8109086861    Monalisa  Das 2024-11-30 23:14:00
10  Lynellle Fernandes  9001195911  Sangeeta Haldar 2024-09-28 15:04:00
27      Karthik Chetty  9015065156    Akshay Manhas 2024-11-04 16:38:00

📥 Application Submitted but Not Enrolled:
            candidate_name       Phone               agent    application_date
11          Parth Bhargava  7711988910          Zoya Zamal 2024-12-31 18:03:00
14              Jai Mantri  8109987111               Vinti 2024-12-10 15:02:00
15            Sachit Anand  8110101911         Payal Gupta 2024-11-21 17:00:00
17          Sourav Rakshit  7001976618         Rishi Joshi 2024-12-17 13:26:00
18    Ashish Ranjan Tiwari  7171975688         Rishi Joshi 2024-12-12 15:27:00
23       Pranava Raghava G  8118618871       Monalisa  Das 2024-11-05 10:50:00
28           Gaurav Shinde  8169855951      Monika Panchal 2024-10-29 11:25:00
32        Gopalakrishnan S  9911616801       Monalisa  Das 2024-12-21 21:13:00
34            Abhay Tiwari  9999810616          Zoya Zamal 2024-12-18 17:49:00
35             Vivek Kumar  8588870111               Vinti 2024-11-15 10:32:00
40            Aditya Singh  9971009115       Monalisa  Das 2024-11-10 21:12:00
41                Pranav R  6161861669  Rupanshi Shekhawat 2024-11-09 19:56:00
43            Ankur Sharma  9895991561               Vinti 2024-12-30 13:46:00
55             Vijay Singh  8076010101         Simran Rana 2024-10-13 22:02:00
56          Sarat Unnithan  9186117111     Sangeeta Haldar 2024-10-25 19:14:00
59  Gulimi Raghu Manikanta  9966911565       Monalisa  Das 2024-12-25 20:35:00
62           Ajitabh Singh  9581117051    Farakhuddin Khan 2024-12-07 08:07:00
68    Gagandeep Singh Rana  8891100016         Payal Gupta 2025-01-07 22:44:00
71           Priti Thakran  9650966511       Monalisa  Das 2024-11-24 15:20:00
77        Venkata Krishnan  6181168661     Sangeeta Haldar 2024-10-09 12:45:00
82              Gaurav Das  8711071111       Akshay Manhas 2024-08-27 12:28:00
83     Qazi Syed Wamiq Ali  7860997761       Akshay Manhas 2024-10-10 17:41:00